* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: #fff;
}

h1 {
  position: absolute;
  z-index: 10;
  margin: 10px;
  font-size: 1.2rem;
}

p {
  position: absolute;
  z-index: 10;
  margin: 40px 10px 10px 10px;
  font-size: 1rem;
}

canvas {
  display: block;
}
